* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --base-font-color: hsla(240, 6%, 21%, 1);
}

body {
  display: grid;
  min-height: 100vh;
}

body.dark-mode {
  background-color: hsla(240, 5%, 7%, 1);
}

main {
  display: flex;
  justify-content: center;


  align-self: center;

  align-items: center;
  gap: 25rem;
  min-width: 100vw;

}

main .timer .time {
  font-family: 'Roboto', sans-serif;
  font-size: 12.61rem;
  line-height: 14.8rem;
  color: var(--base-font-color)
}

/*.play-and-pause {
  max-height: 4.8rem;
  max-width: 4.8rem;
}*/

.controls button {
  min-height: 4.8rem;
  min-width: 4.8rem;
}

.time.dark-mode span {
  color: hsla(0, 0%, 100%, 1)
}

.controls.dark-mode svg path {
  fill: hsla(240, 7%, 78%, 1);
}

button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.hide {
  display: none;
}

.timer {
  min-width: 32.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  min-width: inherit;

  margin-top: 2rem;
}

.controls button:hover svg path {
  fill: #02799D;
}

.controls.dark-mode button:hover svg path {
  fill: hsla(195, 74%, 15%, 1);
}

.sounds {
  display: grid;
  gap: 3.2rem;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.sound-cards {
  background: #E1E1E6;

  width: 13.8rem;
  height: 15.2rem;

  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sounds input[type="range"] {
  -webkit-appearance: none;
  width: 9rem;
  height: 0.4rem;
  background: hsla(240, 6%, 21%, 1);
  border-radius: 5px;
}

.sounds input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: hsla(240, 6%, 21%, 1);
  cursor: pointer;
}

.sounds.dark-mode input[type="range"],
.sound-cards:hover input[type="range"] {
  background: hsla(0, 0%, 100%, 1);
}

.sounds.dark-mode input[type="range"]::-webkit-slider-thumb,
.sound-cards:hover input[type="range"]::-webkit-slider-thumb {
  background: hsla(0, 0%, 100%, 1);
}

.sound-cards button {
  margin-top: 2.4rem;
  width: 100%;
  height: 50%;
}

.sounds.dark-mode .sound-cards {
  background: hsla(240, 6%, 17%, 1);
}


.sounds .rain-sound svg path {
  fill: #323238;
}

.sounds.dark-mode svg path,
.sounds.dark-mode .rain-sound svg path {
  fill: hsla(240, 7%, 78%, 1);
}

.sound-cards:hover {
  background: #02799D;
  border-radius: 2.4rem;
}

.sounds.dark-mode .sound-cards:hover {
  background: hsla(195, 74%, 15%, 1);
}

.sound-cards:hover svg path {
  fill: white;
}

.sounds.dark-mode button:hover svg path {
  fill: hsla(0, 0%, 100%, 1);
}

/*svg.light-mode, svg.dark-mode {
  position: absolute;
  right: 6rem;
  top: 6rem;
}*/
.div-light-dark-mode-button {
  position: absolute;
  right: 6rem;
  top: 6rem;

  cursor: pointer;
}

.div-light-dark-mode-button:hover .light-mode path {
  fill: #02799D;
}

.div-light-dark-mode-button:hover .dark-mode path {
  fill: hsla(195, 74%, 15%, 1);
}

@media (max-width: 1150px) {
  main {
    gap: 10rem;
  }

  /*svg.light-mode, svg.dark-mode {
    position:static;
  }*/
  .div-light-dark-mode-button {
    position: initial;
    min-width: 4.5rem;
    min-height: 4.5rem;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    gap: 7.5rem;

    margin: 3.5rem 0;
  }


  .timer {
    min-width: 32.1rem;
  }

  .controls {
    min-width: inherit;
  }
}

@media (max-width: 540px) {

  body,
  main {
    max-height: 100vh;
    max-width: 100vw;
  }

  main .timer .time {
    font-family: 'Roboto', sans-serif;
    font-size: 12rem;
    line-height: 12.8rem;
    color: var(--base-font-color)
  }

  main {
    gap: 4.5rem;
  }
}

@media (max-width: 375px) {
  .sound-cards {
    height: 13.5rem;
  }
}